* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 90vmin;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board {
  height: 70vmin;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(3, 20vmin);
  gap: 2vmin;
  align-content: center;
}
.box {
  height: 20vmin;
  width: 20vmin;
  border: 2px solid black;
  border-radius: 2vmin;
  display: grid;
  place-content: center;
  font-size: 10vmin;
}
